#top{display:none;}
#arkaa {
background: images/logo2.png;
}
#header{display:none;}
#headeraa{float:left;}
.admin{display:none;}
#menu{display:none;}
#footer{display:none;}
#yaz{display:none;}
#aa{display:none;}
#ac{display:none;}
#cc{display:none;}
#yazma{display:none;}
#no{color: #FF0000;}


